{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}
<main role="main">

  <section class="jumbotron text-center btn-outline-info">
    <div class="container btn-outline-warning">
      <h1 class="jumbotron-heading">애니메이션의 포트 폴리오</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
      <p>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        {% for portfolio in portfolios.all %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
             <img class="card-img-top" src="{{portfolio.image.url}}" alt="Card image cap">
            <div class="card-body">
                {{portfolio.title}}
              <p class="card-text">{{portfolio.description}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
           </div>
          </div>
        </div>
        {% endfor %} 
      </div>
    </div>
  </div>

</main>
{% endblock %}